/*
 * pagemarks - Free, git-backed, self-hosted bookmarks
 * Copyright (c) 2019-2021 the pagemarks contributors
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
 * License, version 3, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program.
 * If not, see <https://www.gnu.org/licenses/gpl.html>.
 */

/* TODO split this file into partials according to topics covered */

html {
    /* set html background color to same as body so that page doesn't flash when css reloads
     * (body invisible for a short time) */
    background-color: $body-bg;
}

body {
    /* avoid overlap with the navbar */
    padding-top: $nav-link-height + 2 * $navbar-padding-y + $spacer;
}

.card {
    margin-bottom: $spacer;

    div.card-toolbox {
        position: absolute;
        top: 0;
        right: 0;
        padding: $card-spacer-y 0 $card-spacer-y calc($card-spacer-x / 2);
        @include border-top-end-radius($card-inner-border-radius);
        i {
            padding: $card-spacer-y calc($card-spacer-x / 2);
            visibility: hidden;
        }
        i.pm-bm-delete {
            margin-right: calc($card-spacer-x / 2);
        }
        .pm-undo {
            margin-right: $card-spacer-x;
        }
        a:hover {
            color: $link-color;
            text-decoration: underline;
        }
    }
    div.card-body {
        .card-title {
            margin-right: calc(48px + $spacer);    /* leave space for toolbox icons */
        }
    }
    &.pm-deleted {
        cursor: default;
        h4, p {
            color: $text-muted;
        }
        a {
            cursor: default;
            color: $text-muted;
            text-decoration: none;
        }
        div.card-toolbox {
            cursor: default;
            a {
                cursor: pointer;
            }
        }
        span.badge {
            color: $text-muted;
            background-color: transparent !important;
            border: 1px solid $text-muted;
        }
    }
}
body.pm-token-present .card:hover, body.pm-token-present .card:focus {
    /* The toolbox appears when a token is present and the user hovers over the bookmark's card. */
    div.card-toolbox {
        color: $text-muted;
        i {
            visibility: visible;
            cursor: pointer;
            &.pm-bm-edit:hover, &.pm-bm-edit:focus {
                color: $link-color;
            }
            &.pm-bm-delete:hover, &.pm-bm-delete:focus {
                color: $danger;
            }
        }
    }
}

nav {
    padding-left: 0 !important;
    padding-right: 0 !important;

    li > a > i.bi {
        position: relative;
        top: 2px;   /* fix vertical centering on icons in the navbar */
    }

    input.form-control.pm-filter {
        min-width: 75px;
        border-right: 0;   /* no line between input text and clear button */
    }

    .input-group-text.pm-input-append {
        background-color: $input-bg;
        color: lighten($input-color, 30%);
        cursor: pointer;
        border-left: 0;   /* no line between input text and clear button */
        z-index: 5;       /* prevent filter input box from bleeding into clear button on focus */
    }

    .dropdown-menu {
        /* Dropdown menus shall appear outside (below) the navbar, especially on small screen sizes. */
        position: absolute !important;
    }

    &.navbar {
        @include media-breakpoint-down(lg) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

a.disabled {
    cursor: default;
}

div.alert code {
    color: inherit;  /* <code> elements within an alert should match the alert's text color. */
}


@import "modal";
@import "tag-editing";
