/*
 * pagemarks - Free, git-backed, self-hosted bookmarks
 * Copyright (c) 2019-2021 the pagemarks contributors
 *
 * This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
 * License, version 3, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program.
 * If not, see <https://www.gnu.org/licenses/gpl.html>.
 */

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Tag Editing
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$tag-text-color: $badge-color;
$tag-bg: $primary;
$tag-hover: if(color-contrast($tag-bg) == $color-contrast-light,
                shade-color($tag-bg, $btn-hover-bg-shade-amount),
                tint-color($tag-bg, $btn-hover-bg-tint-amount));
$tag-remove: $danger;

@import '../../node_modules/@yaireo/tagify/src/tagify';


.pm-tag-suggest {
    color: $input-color;  /* make sure the tags in the suggestion list are readable */
}
