{# <!--
    pagemarks - Free, git-backed, self-hosted bookmarks
    Copyright (c) 2019-2021 the pagemarks contributors

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
    License, version 3, as published by the Free Software Foundation.
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
    details.  You should have received a copy of the GNU General Public License along with this program.
    If not, see <https://www.gnu.org/licenses/gpl.html>.
    ________________________________________________________________________________________________________________

    HTML for the Settings dialog where the API token can be entered.
    This is a genshi NewTextTemplate, based on Bootstrap 5.
--> #}

<div class="modal fade" id="settingsApiTokenModal">
    <div class="modal-dialog" role="document"><div class="modal-content border-info">
        <div class="modal-header">
            <h5 class="modal-title">API Token</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true"></span></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <input type="password" class="form-control mb-2" id="apiTokenInput" placeholder="API Token"
                           aria-describedby="apiTokenHelp">
                    <div class="invalid-feedback d-none">This token did not work. Try a new one?</div>
                </div>
                <div class="form-check">
                    <input class="form-check-input pm-onclick-api-token-reveal" type="checkbox" value=""
                           id="apiTokenReveal">
                    <label class="form-check-label" for="apiTokenReveal">Reveal token</label>
                </div>
                <p class="mt-3" style="line-height: 1.1em;"><small id="apiTokenHelp" class="form-text text-muted">You
                    can obtain an API token from GitLab via the
                    <a href="https://gitlab.com/-/profile/personal_access_tokens" target="_blank">Personal Access
                    Tokens</a> profile setting. Make sure that <code>api</code> scope is selected. As token name, we
                    recommend <code>pagemarks</code>, but you can really choose any name. The token entered here is
                    stored in your browser.</small></p>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger me-auto disabled pm-onclick-api-token-remove">Remove
                Token</button>
            <button type="button" class="btn btn-primary pm-onclick-api-token-save">Okay</button>
            <button type="button" class="btn btn-secondary pm-onclick-api-token-cancel">Cancel</button>
        </div>
    </div></div>
</div>
